<div id="updateModal">
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{url_for('set_action', id=tweet.id)}}" method="PUT">
                    <div class="modal-body">
                        <div class="mb-3">
                            <h3>{{ tweet.content }}</h3>
                            <label for="tweet" class="col-form-label">Action:</label><br>
                            <select name="action" class="form-select">
                                <option value>Select an action</option>
                                <option value="0">Safe to Ignore</option>
                                <option value="1">Alert the Authorities</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit Action</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
