<div id="resultModal">
    <div class="modal " tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detected Risk</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
               
                    <div class="modal-body">
                        <i class="fas fa-bell fa-4x animated rotateIn mb-4"></i>
                        <p class="lead">Result:</p>
                        {% if result==0 %}
                        <span class="badge bg-secondary text-wrap fs-6">No risk detected</span>

                        {% elif result==1 %}
                        <span class="badge bg-success text-wrap fs-6">Medium risk detected</span>
                        <br><br>
                        <p style="font-size: medium;">
                            <strong>The following default message was sent to @{{ all_tweets[tweetID-1]['author']}} : </strong>
                        </p>
                        <div style="background-color: #E5E4E2; color: #36454F; font-style: italic; border-radius: 25px; padding: 25px;"> 
                              <p>Hi there. We've curated the following links:
                                In case you need someone to talk to
                                <ol>
                                    <li>Suicide & Crisis Lifeline: Dial 988</li>
                                    <li>Lifeline web chat</li>
                                    <li>Crisis Text Line: Text “HELLO” to 741741</li>
        
                                </ol>
                                In case you need some professional help
                                <ol>
                                    <li>Find Treatment https://findtreatment.gov/</li>
                                    <li>Find a Psychiatrist: https://finder.psychiatry.org/?_ga=1.178573348.1294726899.1456165962</li>
        
                                </ol>
                              </p>
                          </div>
                        

                        {% else %}
                        <span class="badge bg-warning text-dark text-wrap fs-6">High risk detected. Tweet flagged for further review. </span>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                    </div>
               
            </div>
        </div>
    </div>
</div>  


  