<div id="updateModal{{tweet.id}}" class="modal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Update Action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{url_for('set_action', id=tweet.id)}}" method="PUT">
                
                <div class="modal-body">
                    <div>
                        <label for="tweet" class="col-form-label" style="font-weight: bold;">Tweet Content:</label><br>
                        <p class="lead">{{ tweet.content }}</p>
                        <label for="tweet" class="col-form-label" style="font-weight: bold;">Action:</label><br>
                        <select name="action" class="form-select">
                            <option value>Please select an action</option>
                            <option value="0">Safe to Ignore</option>
                            <option value="1">Alert the Authorities</option>
                        </select>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit Action</button>
                </div>
            </form>
        </div>
    </div>
</div>



  